<section class="songs-list">

    <div class="ui-status empty">
        No hay ninguna cancion
    </div>

    <div class="ui-status error">
        Se ha producido un error al cargar la cancion
    </div>

    <div class="ui-status loading">
        Cargando...
    </div>

    <div class="ui-status ideal">
        <article class="song">
            <img 
            src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" 
            alt="Artist - Song title" class="cover">
            <div class="artist">Artist name</div>
            <div class="title">Song title</div>
        </article>
        <article class="song">
            <img 
            src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" 
            alt="Artist - Song title" class="cover">
            <div class="artist">Artist name</div>
            <div class="title">Song title</div>
        </article>
        <article class="song">
            <img 
            src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" 
            alt="Artist - Song title" class="cover">
            <div class="artist">Artist name</div>
            <div class="title">Song title</div>
        </article>
        <article class="song">
            <img 
            src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" 
            alt="Artist - Song title" class="cover">
            <div class="artist">Artist name</div>
            <div class="title">Song title</div>
        </article>
        <article class="song">
            <img 
            src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" 
            alt="Artist - Song title" class="cover">
            <div class="artist">Artist name</div>
            <div class="title">Song title</div>
        </article>
        <article class="song">
            <img 
            src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" 
            alt="Artist - Song title" class="cover">
            <div class="artist">Artist name</div>
            <div class="title">Song title</div>
        </article>
        <article class="song">
            <img 
            src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" 
            alt="Artist - Song title" class="cover">
            <div class="artist">Artist name</div>
            <div class="title">Song title</div>
        </article>
        <article class="song">
            <img 
            src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" 
            alt="Artist - Song title" class="cover">
            <div class="artist">Artist name</div>
            <div class="title">Song title</div>
        </article>
        <article class="song">
            <img 
            src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" 
            alt="Artist - Song title" class="cover">
            <div class="artist">Artist name</div>
            <div class="title">Song title</div>
        </article>
        <article class="song">
            <img 
            src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" 
            alt="Artist - Song title" class="cover">
            <div class="artist">Artist name</div>
            <div class="title">Song title</div>
        </article>
        <article class="song">
            <img 
            src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" 
            alt="Artist - Song title" class="cover">
            <div class="artist">Artist name</div>
            <div class="title">Song title</div>
        </article> 
        <article class="song">
            <img 
            src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" 
            alt="Artist - Song title" class="cover">
            <div class="artist">Artist name</div>
            <div class="title">Song title</div>
        </article>
        <article class="song">
            <img 
            src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" 
            alt="Artist - Song title" class="cover">
            <div class="artist">Artist name</div>
            <div class="title">Song title</div>
        </article>
    </div>
</section>